body {
    background: url(../images/luis-cavaco-02-mockup-trivia-planet-b.jpg);
    font-size: 1.2em;

}   


h1{
    text-align: center;

    padding-top: 40px;
    font-size: 3em;
    font-family: 'Modak', cursive;
    text-shadow: 0 1px 0 red, 0 2px 0 red, 0 3px 0 red, 0 4px 0 red, 0 5px 0 red, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(78, 79, 56, 0.81), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15), 2px 2px 20px rgba(146,255,246,0.93);
}
#start, #restart {
    height: 60px;
    color: orange;
    margin: 0 auto 0 auto;
    font-size: 1.3em;
    font-family: 'Modak', cursive;
    font-weight: 100;
    border-radius: 5%;
    outline: none; 
    background: url(../images/giphy.gif);
    background-size: 1px;
}
#timeLeft, #question, #answers{
    color: white;
    height: 50px;
}
.answers {
    display: block;
    margin: 0 auto 0 auto;
    padding: 0;
}